

RewriteEngine  on
RewriteBase    /

RewriteRule    ^artists$  view.html?id=1,3 [R]
RewriteRule    ^artists/$  view.html?id=1,3 [R]
RewriteRule    ^exhibitions$  view.html?id=1,4 [R]
RewriteRule    ^exhibitions/$  view.html?id=1,4 [R]
RewriteRule    ^news$  view.html?id=1,5 [R]
RewriteRule    ^news/$  view.html?id=1,5 [R]
RewriteRule    ^publications$  view.html?id=1,6 [R]
RewriteRule    ^publications/$  view.html?id=1,6 [R]
RewriteRule    ^contact$  contact.html?id=1,7 [R]
RewriteRule    ^contact/$  contact.html?id=1,7 [R]

ErrorDocument 404 /404.html

AddType application/x-httpd-php .html .php 