@font-face {
    font-family: 'cmr17';
    src: url('../fonts/cmr17-webfont.eot');
    src: url('../fonts/cmr17-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cmr17-webfont.woff') format('woff'),
         url('../fonts/cmr17-webfont.ttf') format('truetype'),
         url('../fonts/cmr17-webfont.svg#cmr17') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CMUSerifRoman';
    src: url('../fonts/cmunrm-webfont.eot');
    src: url('../fonts/cmunrm-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cmunrm-webfont.woff') format('woff'),
         url('../fonts/cmunrm-webfont.ttf') format('truetype'),
         url('../fonts/cmunrm-webfont.svg#CMUSerifRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}