* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0px;
	font-family: ag-light-os;
	font-size: 10pt;
	background-color: rgba(250, 250, 245, 1.0);
	color: rgba(10, 10, 10, 1.0);
}

.cream {
}

h1 {
	font-family: ag-medium;
	
	margin: 0px;
	min-height: 12.5vh;
	width: 100%;
	padding: 0.25em;

	font-size: 4em;
	text-align: center;
}

h1 a {
	vertical-align: -webkit-baseline-middle;
}
img {
	width: 100%;
}
p {
	margin-top: 0px;
}
.img-container {
	background-color: rgba(255, 255, 150, 1.0);
}

.img-container img,
#splash {
	-webkit-filter: grayscale(100%);
	filter: gray;
    opacity: .95;
    vertical-align: top;
}

#splash img {
	object-fit: contain;
    width: 100%;
    height: 100%;
}
/* links */
a {
	text-decoration: none;
	/* text-transform: uppercase; */
}

a:link,
a:visited {
	color: #999;
}

a:hover {
	color: #111;
}

a:active {
}

.centre {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#splash {
	/*
    position: fixed;
    top: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 75%;
    height: 75%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    
    -webkit-filter: grayscale(100%);
    filter: gray;
}

#main {
	/*padding: 0px 25vw;*/
    line-height: 1.25rem;
}

#images {
	width: 50vw;
}

#body {
	width: 50vw;
	max-width: 450px;
	padding: 20px;
}

#images.visible, 
#body.visible {
	display: inline-block;
	vertical-align: top;
}

#menu {
    padding: 20px 0px;
}

#children p {
	text-align: left;
}

.thumb {
	display: inline-block;
	width: 200px;
	padding: 20px;
	vertical-align: middle;
}

#exhibition > .thumb {
	width: 70%;
    padding: 0px;
    display: block;
    margin: 1rem auto;
}

.caption {
	padding-top: 5px;
	font-size: 8pt;
}

.hidden {
	display: none;
}

#gallery {
	position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 10, 10, 1.0);
}

#gallery-img {
	width: initial;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}

#exhibition, 
#children,
#main {
	max-width: 500px;
	margin: 4rem auto;
}

#main {
	margin: 0rem auto;
}

#caption-div {
	position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 20px;
    color: rgba(250, 250, 240, 1);
}

#modernart a {
	color: #111;
	position: fixed;
	top: 10rem;
	left: 10rem;
	animation: blink 1s steps(5,start) infinite;
	-webkit-animation: blink 1s steps(5,start) infinite;
	z-index:99;
}

@keyframes blink {
	to {
		visibility: hidden;
	}	
}

@-webkit-keyframes blink {
	to {
		visibility: hidden;
	}	
}

@media screen and (max-width: 799px) {
	.thumb { 
		width: 25vw;
	}
}

@media screen and (max-width: 568px)
{
	.thumb {
		width: 50vw;
	}
	
	#images {
		width: 100vw;
	}

	#body {
		width: 100vw;
	}

	#images, 
	#body {
		display: block;
	}
	
	#main {
	}
	
	#exhibition,
	#main {
		width: 100%;
		padding: 20px;
		margin: 0px;
	}
}
