* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*----------------------------------------------- 
  elements 
-----------------------------------------------*/

html, body {
    margin: 0px;
    background-color: rgba(250, 245, 235, 1.0);
    font-family: hnr-medium, ag-light-os; 
    font-size: 16pt;
    line-height: 22pt;
    color: rgba(70, 70, 70, 1.0);
    -webkit-font-smoothing: subpixel-antialiased;
/*  -webkit-font-smoothing: subpixel-antialiased; */
}

body {
/*
    max-width: 500px;
    margin: 0px auto;
*/
    max-width: 700px;
    margin: 0 auto;
}
p {
    margin-top: 0px;
}

/*----------------------------------------------- 
  links 
-----------------------------------------------*/

a {
    text-decoration: none;
}

a:link,
a:visited {
/*     color: #999; */
    /*color: #111;*/
    color: rgba(70, 70, 70, 1.0);
}

a:hover {
/* 
    color: #111;
 */
    text-decoration: underline;
}

a:active {
}

/*----------------------------------------------- 
  images and image-containers 
-----------------------------------------------*/

img {
    width: 100%;
}

.img-container {
    /* some bug with -webkit-filter: grayscale(100%);
       causes the image in this container to be clipped,
       leaving a sliver of yellow (bg colour) on the left side. 
       this is eliminated by insetting, then expanding the image.
       bug seems to only be in chrome, btw.
       
       useful clip-path demo:
       http://bennettfeely.com/clippy/
    */
    -webkit-clip-path: inset(2px 2px 2px 2px);
    clip-path: inset(2px 2px 2px 2px);
    margin: -2px;
}

.yellow-bg {
    /* background-color: rgba(255, 255, 150, 1.0); */
}

.img-container img,
#splash-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .95;
    vertical-align: top;
}

#splash-img {
    z-index: 0;
    width: 100%;
    height: 100%;
    
    position: fixed;
    left: 0px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#arrow {
    width: 10px;
    vertical-align:baseline;
}

.thumb {
    display: inline-block;
    width: 24%;
    padding: 5px 10px;
    vertical-align: top;
    margin: 0px;
}

figure {
    margin: 3rem auto;
}

.caption {
    padding-top: 5px;
    font-size: 7pt;
    line-height: 8.5pt;
	text-align: left;
}

/*----------------------------------------------- 
  containers 
-----------------------------------------------*/

#body {
    padding: 20px;
    max-width: 450px;
}

#artist-detail,
#exhibition-detail,
#exhibition-list,
#book-list,
#news-list,
#children,
#contact {
    /*margin: 4rem auto;*/
    padding: 4em 0;
}

#news-list {
    font-size: 14pt;
    line-height: 19pt;
}

.col {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

#main-list {
}
#artist-detail,
#exhibition-detail {
    font-size: 14px;
    line-height: 18px;
}

#artist-detail header,
#exhibition-detail header {
    font-size: 16pt;
    line-height: 22pt;
}

.exhibition-img {
    padding: 30px 0;
}

.exhibition-img > .img-container {
    margin: 5px 0;
}

.news-story {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 10px;
    text-align: left;
}

#exhibition-detail,
#artist-detail {
    padding-bottom: 3em;
}

#exhibition-name,
#artist-name,
#main-list,
#children,
.children {
    text-align: center;
}
.exhibition-year {
    padding-bottom: 3em;
    text-align: center;
}

.background-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 100%;

    width: 100%;
    padding-top: 100%;
    height: 50px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    /* opacity: 0.95; */
}
.exhibition-year header::before {
    content: "- ";
}

.exhibition-year header::after {
    content: " -";
}

#exhibition-list .exhibition-year header,
#exhibition-list .exhibition {
    padding-bottom: 1em;
}

.book {
    display: inline-block;
    width: 33%;
    padding: 10px;
    vertical-align: top;
}

.book img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#back {
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
}

#splash-logo a {
    color: #111;
    position: fixed;
    left: 0px;
    z-index:5;
    font-size: 72px;
    line-height: 60px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}


#clock {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    
    font-family: menlo, monospace;
    font-size: 14px;
    line-height: 16px;
}

/*----------------------------------------------- 
  fullscreen stuff
-----------------------------------------------*/

#gallery {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #0a0a0a;
}

#gallery-img {
    width: initial;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

#caption-div {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 20px;
    color: rgba(250, 250, 240, 1);
}

.img-container {
    height: auto;
}

.img-container:-moz-full-screen {
    width: 100%;
    height: 100%;
    background-color: black;
}

.img-container:-webkit-full-screen {
    width: 100%;
    height: 100%;
    background-color: black;
}

.img-container:-webkit-full-screen > .fullscreen {
    width: initial;
    margin: auto 0;
    opacity: 1;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.img-container:-moz-full-screen > .fullscreen {
    width: initial;
    margin: auto 0;
    opacity: 1;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.img-container:-ms-fullscreen {
    width: auto;
    height: auto;
    margin: auto;
}

.img-container > .tile {
    display: none;
}

.img-container:-webkit-full-screen > .background-img {
    display: none;
}
.img-container:-moz-full-screen > .background-img {
    display: none;
}
.img-container:-ms-fullscreen > .background-img {
    display: none;
}

.img-container:-webkit-full-screen > .tile {
    display: inherit;
}

.img-container:-moz-full-screen > .tile {
    display: inherit;
}

.img-container:-ms-fullscreen > .tile {
    display: inherit;
}

.colour > .fullscreen{
    -webkit-filter: none;
    filter: none;
}
/*----------------------------------------------- 
  utilities 
-----------------------------------------------*/

.centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.half-size {
    width: 50vw;
    display: inline-block;
    vertical-align: top;
}

.hidden {
    display: none;
}

/* blink */
.blink {
    animation: blink 1s steps(5,start) infinite;
    -webkit-animation: blink 1s steps(5,start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }   
}

@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }   
}

/*----------------------------------------------- 
  mobil-ify
-----------------------------------------------*/

@media screen and (max-width: 768px) {
    .thumb {
        width: 32%;
    }
    
    .book {
        width: 50%;
    }
}

@media screen and (max-width: 568px)
{   
    #images,
    #body {
        width: 100vw;
        display: block;
    }
    
    body {
        width: 100%;
        margin 0px;
        padding: 30px 0;
    }
    .thumb {
        width: 49%;
    }
    
    #artist-detail,
    #exhibition-detail,
    #exhibition-list,
    #book-list,
    #news-list,
    #contact
     {
        padding-left: 1em;
        padding-right: 1em;
    }
    .col {
        display: block;
        vertical-align: top;
        width: 100%;
    }
    
    .col:last-of-type{
        padding-top 0;
    }
    
    .book {
        width: 100%;
    }
}
