* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*----------------------------------------------- 
  elements 
-----------------------------------------------*/

html, body {
    margin: 0px;
    background-color: rgba(250, 250, 245, 1.0);
    font-family: hnr-medium, ag-light-os; 
    font-size: 10pt;
    line-height: 12.75pt;
    color: rgba(10, 10, 10, 1.0);
    -webkit-font-smoothing: subpixel-antialiased;
/*  -webkit-font-smoothing: subpixel-antialiased; */
}

body {
    max-width: 500px;
    padding: 20px;
    margin: 0px auto;
}
p {
    margin-top: 0px;
}

/*----------------------------------------------- 
  links 
-----------------------------------------------*/

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #999;
}

a:hover {
    color: #111;
}

a:active {
}

/*----------------------------------------------- 
  images and image-containers 
-----------------------------------------------*/

img {
    width: 100%;
}

.img-container {
    /* some bug with -webkit-filter: grayscale(100%);
       causes the image in this container to be clipped,
       leaving a sliver of yellow (bg colour) on the left side. 
       this is eliminated by insetting, then expanding the image.
       bug seems to only be in chrome, btw.
       
       useful clip-path demo:
       http://bennettfeely.com/clippy/
    */
    -webkit-clip-path: inset(2px 2px 2px 2px);
    clip-path: inset(2px 2px 2px 2px);
    margin: -2px;
}

.yellow-bg {
    background-color: rgba(255, 255, 150, 1.0);
}

.img-container img,
#splash {
    -webkit-filter: grayscale(100%);
    filter: gray;
    opacity: .95;
    vertical-align: top;
}

#splash {
    z-index: 0;
    width: 100%;
    height: 100%;
    
    position: fixed;
    left: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#splash img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#arrow {
    width: 10px;
    vertical-align:baseline;
}

.thumb {
    display: inline-block;
    width: 32%;
    padding-right: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    margin: 0px;
}

figure {
    margin: 3rem auto;
}

.caption {
    padding-top: 5px;
    font-size: 7pt;
    line-height: 8.5pt;
}

/*----------------------------------------------- 
  containers 
-----------------------------------------------*/

#body {
    padding: 20px;
    max-width: 450px;
}

#menu {
    padding: 20px 0px;
}

#artist,
#children,
#menu {
    /*margin: 4rem auto;*/
    padding-top: 20px;
}

#children div {
    padding: .5em 0;
}

#children header {
    padding-top: 3em;
    padding-bottom: 0.5em;
}

#name {
    padding-top: 100px;
}

#modernart a {
    color: #111;
    position: fixed;
    z-index:5;
    top: 10rem;
    left: 10rem;
}

#logo a {
    color: #111;
    position: fixed;
    left: 0px;
    z-index:5;
    font-size: 50px;
    line-height: 60px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

#children p {
    text-align: left;
}

#clock {
    font-family: menlo, monospace;
    font-size: 10px;
    /* position: fixed; */
/* 
    bottom: 0px;
    right: 0px;
    padding: 20px;
 */
}

/*----------------------------------------------- 
  fullscreen stuff
-----------------------------------------------*/

#gallery {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #0a0a0a;
}

#gallery-img {
    width: initial;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

#caption-div {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 20px;
    color: rgba(250, 250, 240, 1);
}

/*----------------------------------------------- 
  utilities 
-----------------------------------------------*/

.centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.half-size {
    width: 50vw;
    display: inline-block;
    vertical-align: top;
}

.hidden {
    display: none;
}

/* blink */
.blink {
    animation: blink 1s steps(5,start) infinite;
    -webkit-animation: blink 1s steps(5,start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }   
}

@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }   
}

/*----------------------------------------------- 
  mobil-ify
-----------------------------------------------*/

@media screen and (max-width: 799px) {
}

@media screen and (max-width: 568px)
{   
    #images,
    #body {
        width: 100vw;
        display: block;
    }
    
    body {
        width: 100%;
        margin 0px;
    }
}
