/* HTML ELEMENTS */
	
	
html, body, #wrapper {
      height:100%;
      margin: 0;
      padding: 0;
      border: none;
      text-align: left;
      color: #000;
	  background-color: #FFF;
	  font-family: Helvetica, Arial, sans-serif;
	  display: inline;
   }
   
a {
	color: #000; 
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	text-decoration: none; 

	}

a:hover {
	color: #000;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	font-weight: bold;
	/*background-color: #EEF;*/
	}

a:active { 
	color: #FFF; 
	}

ol, ul, li {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none; 
	}
	
img {
	border: none; 
	}

p {
	text-indent: 0px;
	margin-bottom: -20px;
	}





/* SLIDESHOW IDS */

#slide_1, #slide_2, #slide_3, #slide_4, #slide_5, #slide_6, #slide_7, #slide_8 {
	background: #FFF;
}





/* TYPE STYLES */
/* Menu, Body, Mono */
	

.Menu {
	text-align: left;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: 0px;
	background-color: transparent;
	/*white-space: nowrap;*/
	}

.MenuSub {
	text-align: left;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: 0px;
	background-color: transparent;
	/*white-space: nowrap;*/
	}
	
.Body {
	font-size: 24px;
	line-height: 26px;
	font-weight: normal;
	letter-spacing: 0pt;
	}
	
.Mono {
	text-align: left;
	font-family: "Courier New", "Courier", monospaced;
	font-weight: normal;
	font-size: 13px;
	line-height: 17px;
	letter-spacing: 0pt;
	}
	
.Helvetica {	
    font-family: Helvetica, Arial, sans-serif;
	}	

.Big {
	font-weight: bold;
	font-size: 220px;
	line-height: 200px;
	}	
	
.Big a {	
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	text-decoration: none; 
	}	
	
.Medium {
	font-size: 20px;
	line-height: 22px;
	font-weight: bold;
	}

.Caption {
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 0pt;
	}
	
.Red {
	color:#F00;
	}
	
.Address {
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 64px;
	line-height: 70px;
	background-color: transparent;
	}

.News {
	text-align: left;
	font-family: "Courier New", "Courier", monospaced;
	/* font-size: 56px; */
	/* line-height: 60px; */
	font-size: 18px;
	line-height: 21px;
	background-color: transparent;
	}




/* CONTAINERS */
 	
.nameContainer {
	position: fixed; 
 	z-index: 90; 
 	left: 0px;
 	top: 0px;
 	height:200px;
  	width: 33%;
  	background-color: transparent;
 	}
 	 	
.nameOnContainer {
	position: fixed; 
 	z-index: 98;
 	left:20px;
 	top: 130px;
 	padding: 4px 0 0 0;
 	visibility: hidden;
 	background-color: #FFF;
 	}
 	
.navContainer {
	position: absolute;
	left: 800px;
	z-index: 90; 
	top: 20px;
	width: 300px;
	padding: 0px;
	}
	
.shareContainer {
	position: absolute;
	left: 24px;
	z-index: 90; 
	top: 630px;
	width: 200px;
	padding: 0px;
	}

.menuContainer {
	position: fixed; 
 	z-index: 90; 
 	left: 20px;
 	top: 130px;
  	width: 200px;
 	}
 	
.imageContainerSmall {
	position: absolute;
	z-index: 90;
	top: 100px;
	left: 350px;
	width: 300px; 
	}

.imageContainerBig {
	position: absolute;
	z-index: 90;
	top: 100px;
	left: 150px;
	width: 800px; 
	}
			
.imagesubContainer {
	padding: 15px 0px 0px 0px;
	}
	
.imageNavContainer {
	position: absolute;
	z-index: 99; 
	padding: 30px 0 0 0;
	top: 20px;
	left: 800px;
	width: 150px;
	}
	
.moreContainer {
	position: relative;
	left: 264px;
	width: 96px;
	z-index: 99;
	top: 16px;
	}
	
.bodyContainer {
	position: absolute;
	top: 72px;
	left: 350px;
	z-index: 90; 
	width: 350px;
	}
	
.halfContainer {
	position: absolute;
	top: 12px;
	left: 264px;
	z-index: 90; 
	width: 500px;
	}
	
.homeContainer {
	position: relative;
	top: 130px;
	/* left: 192px; */
	/*left: 264px;*/
	left: 20%;
	z-index: 90; 
	width: 60%;
	}
	
.sidebarContainer {
	position: relative;
	top: 24px;
	left: 33%;
	z-index: 90; 
	width: 66%;
	}
	
.dateContainer {
	position: fixed;
	top: 20px;
	left: 80%;
	z-index: 100; 
	width: 18%;
	height:40px;
	}

.jumpContainer {
	position: fixed;
	top: 40px;
	left: 80%;
	z-index: 100; 
	width: 18%;
	height:40px;
	}
	
.dateOnContainer {
	position: fixed; 
 	z-index:98;
 	left:80%;
 	top: 130px;
 	width: 15%;
 	padding: 8px 0 48px 4px;
 	visibility: hidden;
 	}
 	
.captionContainer {
	position: absolute;
	top: 14px; 
	left: 112px; 
	}
	
.deckContainer {
	position: relative;
	z-index: 90; 
 	left: 28px;
 	top: 0px;
  	width: 500px;
 	}
 	
 .knightContainer {
	position: absolute;
	top: 0px;
	left: 200px;
	z-index: 1; 
	}
		
.node { 
	float: left;
	z-index: 98;
	padding: 1px; 
	font-family: "Courier New", Courier, monospaced; 
	}
	
.popimageContainer {
	position: absolute; 
 	z-index: 90; 
 	left: 14px;
 	top: 14px;	
 	}
 	
.lineContainer {
	position: fixed;
 	left: 2%;
 	top: 200px;
 	/*top: 60px;*/
 	width: 95%;
	z-index: 90;
	border-top: 1px solid #000;
}

.logoContainer {
	position: fixed;
 	left: 200px;
 	top: 20px;
 	/*top: 10px;*/
	width: 200px;
	z-index: 90;
}






/* MENU */
	
.listActive a:link {
	/* display: block; */
	padding: 0 0 0 0px;
	font-weight: bold;
	}
	
.listActive a:visited {
	/* display: block; */
	padding: 0 0 0 0px;
	font-weight: bold;
	}
	
.listActive a:hover {
	/* display: block; */
	padding: 0 0 0 0px;
	color: #000;
	}
	
.listStatic a:link {
	/* display: block; */
	padding: 0 0 0 0px;	
	}

.listStatic a:visited {
	/* display: block; */
	padding: 0 0 0 0px;
	}

.listStatic a:hover {
	/* display: block; */
	padding: 0 0 0 0px;
	color: #000;
	}


	








	
	








	
	
	
	
/* UTILITY FORMATTING */

.pad {
	padding: 10px; 
	}
	
.clear {
	clear: both;
	height: 0;
	overflow: hidden;
	}

.hidden {
	visibility: hidden; 
	}
		
.indent {
	/* padding: 0 0 0 12px; */
	padding: 0 0 0 0;
	}
	
.centerHorizontal {
	text-align: center;
	margin: 0 auto;
	}
			
/* this is a mess! from Dexter Sinister blazon centering*/
/* need to find the image size dynamically and prob code this in the html from the displaySystemMedia */

.centerVertical {
	display: table-cell;
	height: 1200px;
	}

#wrapper {
	margin: 0 auto;
	text-align: left;
	vertical-align: middle;
	/* background-color: #FEF; */
	}
	
.Underline a {
	text-decoration: none; 
	color: #000;
	// text-transform: uppercase;
	}
	
.Underline a:hover {
	text-decoration: underline; 
	}

.Underline a:active { 
	color: #FFF; 
	}
	


	

	
    

	
	





