/* Document */

@font-face {
    font-family: 'cmr12';
    src: url('../_Fonts/cmr12-webfont.eot');
    src: url('../_Fonts/cmr12-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_Fonts/cmr12-webfont.woff') format('woff'),
         url('../_Fonts/cmr12-webfont.ttf') format('truetype'),
         url('../_Fonts/cmr12-webfont.svg#cmr12') format('svg');
    font-weight: normal;
    font-style: normal;
}
	
@font-face {
    font-family: 'cmr17';
    src: url('../_Fonts/cmr17-webfont.eot');
    src: url('../_Fonts/cmr17-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_Fonts/cmr17-webfont.woff') format('woff'),
         url('../_Fonts/cmr17-webfont.ttf') format('truetype'),
         url('../_Fonts/cmr17-webfont.svg#cmr17') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cmss12';
    src: url('../_Fonts/cmss12-webfont.eot');
    src: url('../_Fonts/cmss12-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_Fonts/cmss12-webfont.woff') format('woff'),
         url('../_Fonts/cmss12-webfont.ttf') format('truetype'),
         url('../_Fonts/cmss12-webfont.svg#cmss12') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cmtt12';
    src: url('../_Fonts/cmtt12-webfont.eot');
    src: url('../_Fonts/cmtt12-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_Fonts/cmtt12-webfont.woff') format('woff'),
         url('../_Fonts/cmtt12-webfont.ttf') format('truetype'),
         url('../_Fonts/cmtt12-webfont.svg#cmtt12') format('svg');
    font-weight: normal;
    font-style: normal;
}




body {
	font-family: 'cmr17', 'Times', 'Times New Roman', serif;
	font-weight: normal;
	text-align: left;
	font-size: 16px;
	line-height: 20px; 
	color:#000;
	}

a:link {
	color: #000; 
	text-decoration: none; 
	}

a:visited {
	/* color: #007221; */
	color: #000; 
	text-decoration: none; 
	}

a:hover {
	}

a:active { 
	color: #FFF; 
	text-decoration: none; 	
	}




/* Containers */

.menuContainer {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 98%;
	z-index: 99;
	}
	
.menuItemContainer {
	display: inline-block;
	}		

.mainContainer {
	position: absolute;
	top:10px;
	/* top: 96px; */
	left: 10px;
	width: 98%;
	height: 96%;
	z-index: 90;
	}	
	
.viewContainer {
	position: absolute;
	top:10px;
	left: 10px;
	width: 98%;
	height: 96%;
	z-index: 99;
	text-align: center;
	}	
	
.menuImageContainer {
	width: 200px;
	}
	
.slideContainer {
	position: absolute;
	top: 0px;
	left: 200px;
	z-index: 90; 
	}
	
.thumbsContainer {
	/* width: 220px; */
	float: left;
	margin: 0 10px 10px 0;
	}

.thumbsContainer:hover { 
	color: #F00;
	}

.detailContainer {
	z-index: 99;
	}
	
.coverContainer {
	width: 100%;
	display: inline-block;
	}
	
.coverContainer:hover { 
	/* border: 1px solid #F00; */ 
	}

.captionContainer {
	width: 100%;
	padding: 0px 0 0 0;
	}		
	
.timeContainer {
	float: left;
	z-index: 90;	
	}
	
	
/* Type */

.menu {
	font-size: 16px;
	line-height: 20px; 
	}
		
.logo {
	font-family: 'cmr17', 'Times', 'Times New Roman', serif;
	font-size: 60px;
	}

.caption {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 11px;
	line-height: 12px; 
	}

.time {
	font-family: Helvetica, Arial, Verdana, sans-serif; 
	font-size: 14px;
	line-height: 15px; 
	}

	

/* Utility */
	
.red {
	color: #F00; 
	}

.red a {
	color: #F00; 
	}

.pad {
	padding: 0 3px 0 0;
	}
	
.static a {
	}
	
.static a:hover {
	text-decoration: underline;
	}	
	
.active a {
	text-decoration: underline;
	}
	
